/*
***Flo***
*/

/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: black;
    color: white; /* Le texte de la page sera blanc */
    font-family: "Courier New";
}

/* Cible la class ci dessous*/
.center {
  margin-left: auto;
  margin-right: auto;
}

/*pour les paragraphes sans table*/
p{
	text-align: center;
    /*font-size: 3em;*/
}

/*titre h1 et balise em*/
em
{
	color: rgb(170,2,150);
}

/*Pour les tables*/
table{
    width: 100%;
}
